.checkout{
    display: flex;
    background-color: bisque;
    height: max-content;
    padding: 20px;
}

.chekout__left{
    background-color: white;
}

.checkout__adv{
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title{
    border-bottom: 1px solid black;
    padding: 10px;
}

.chekout__right{
    background-color: aqua;
}